<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tourist Accommodation Management</title>
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Link CSS riêng (nếu có) -->
  <% if (typeof css !== 'undefined' && css) { %>
    <link rel="stylesheet" href="<%= css %>" />
  <% } %>

</head>
<body>
  <%- include("partials/header") %>

  <main>
    <%- body %>
  </main>

  <%- include("partials/footer") %>

  <!-- Link JS riêng (nếu có) -->
  <% if (typeof js !== 'undefined' && js && js.length) { %>
    <script src="<%= js %>"></script>
    <% js.forEach(function(file) { %>
      <script src="<%= file %>"></script>
    <% }) %>
  <% } %>

</body>
</html>
