<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <!-- Link CSS riêng (nếu có) -->
        <% if (typeof css !=='undefined' && css && css.length) { %> 
          <% css.forEach(function(path) { %>
            <link rel="stylesheet" href="<%= path %>" />
          <% }) %> 
        <% } %>
        <%- defineContent('style') %> 
        <%- defineContent('head-scripts') %> 
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- Header chung -->
        <%- include("partials/header") %>

        <!-- Nội dung riêng của từng trang -->
        <main><%- body %></main>

        <!-- Footer chung -->
        <%- include("partials/footer") %>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
        <script>
            ;(function () {
                function c() {
                    var b = a.contentDocument || a.contentWindow.document
                    if (b) {
                        var d = b.createElement("script")
                        d.innerHTML =
                            "window.__CF$cv$params={r:'992aac131274ce59',t:'MTc2MTE1MzY5OC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);"
                        b.getElementsByTagName("head")[0].appendChild(d)
                    }
                }
                if (document.body) {
                    var a = document.createElement("iframe")
                    a.height = 1
                    a.width = 1
                    a.style.position = "absolute"
                    a.style.top = 0
                    a.style.left = 0
                    a.style.border = "none"
                    a.style.visibility = "hidden"
                    document.body.appendChild(a)
                    if ("loading" !== document.readyState) c()
                    else if (window.addEventListener)
                        document.addEventListener("DOMContentLoaded", c)
                    else {
                        var e = document.onreadystatechange || function () {}
                        document.onreadystatechange = function (b) {
                            e(b)
                            "loading" !== document.readyState &&
                                ((document.onreadystatechange = e), c())
                        }
                    }
                }
            })()
        </script>
        <!-- Trước link JS riêng -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- Link JS riêng (nếu có) -->
        <% if (typeof js !=='undefined' && js && js.length) { %>
        <% js.forEach(function(file) { %>
        <script src="<%= file %>"></script>
        <% }) %> <% } %>
        <%- defineContent('footer-scripts') %> 
    </body>
</html>
